@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import "~bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;

  @media screen and (max-width: 400px) {
    font-size: 0.8rem;
  }
}

.search-space {
  position: fixed;
  background-color: rgb(181, 195, 200);
  width: 80%;
  height: 20%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  padding: 1%;

  .btn {
    height: 50%;
  }

  .input-space {
    width: 60%;

    position: relative;
    display: flex;
    flex-direction: column;
  }
}

.new-entry {
  position: fixed;
  padding: 5% 1% 0 1%;
  left: 80%;
  width: 20%;
  height: 100%;
  background-color: rgb(176, 207, 219);

  p {
    font-size: 0.7rem;
    margin: 0;
  }
}

.show {
  .btn {
    width: 80%;
    margin: 0 10%;
  }
}

.record-list {
  position: absolute;
  top: 20%;
  width: 78%;
  height: 80%;
  margin-left: 1%;
  overflow: auto;
}

.record {
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  height: 10.5rem;
  width: 99%;
  background-color: aliceblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1rem 0 0;

  margin-top: 10px;

  .icon {
    position: relative;
    height: 90%;
    width: 10%;
    color: rgb(79, 126, 200);
  }

  .icon-back {
    position: relative;
    text-align: center;
    background-color: rgba(200, 200, 200, 0.356);
    top: 0;
    left: 0;
    width: 18%;
    height: 100%;
    padding: 0.5% 0;

    .icon {
      position: relative;
      height: 100%;
      width: 100%;
      color: rgb(79, 126, 200);
    }
  }

  .record-data {
    text-align: justify;
    position: relative;
    width: 60%;
    margin: 0.5% 0;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    overflow: auto;

    h3 {
      @media screen and (max-width: 400px) {
        margin-top: 2%;
        font-size: 1rem;
      }
    }

    h6 {
      color: rgb(184, 184, 184);

      @media screen and (max-width: 400px) {
        font-size: 0.7rem;
      }
    }
  }
}
